DxWnd/
dxwnd.lnk
dxwnd.bak
dxwnd.ini
audio1.000
audio1.DFS
audio2.000
audio2.DFS
Common/pt1_c1_6_17.bik
Common/pt1_c1_6-17.bik
Common/pt7_c2_pt8_c3_pt9_6-17.bik
Common/pt14_c4a_pt15_c4b_pt16_6-17.bik
Common/pt7_c2_pt8_c3_pt9_6_17.bik
Common/pt17_c5_pt18__6-17.bik
Common/pt1_c1_6-17.bik
Common/PageTurn_19.bik